# Using 4 spaces indentation for server side languages/markups
# and 2 spaces indentation for client side languages/markups.

root = true

# Unix-style newlines
[*]
end_of_line = lf

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py}]
charset = utf-8

# 4 space indentation
[*.{py,sh}]
indent_style = space
indent_size = 4

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
