{% extends 'base.html' %}
{% load i18n %}


{% block title %}
{% trans "Shelves" %}
{% endblock %}


{% block content %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="Submit" />
        </form>

        <div>
            <ul>
                {% for entry in entries %}
                <li>{{ entry }}</li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}
